<body>
	<h1>The Item of your choise n <%= @individual.id %> is :</h1>
	<br />
	<p><%= @individual.title %></p>
	<p><%= @individual.description %></p>
	<p><%= @individual.price %></p>
	<p><img src="<%= @individual.image_url %>" style="width:20%;"></p>
</body>