<!-- footer -->
<footer class="light-footer">
    <div class="widget-area">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-4 widget">
                    <div class="about-widget">
                        <div class="widget-title-image">
                            <%= image_tag('logoC.png') %>
                        </div>
                        <p>Wooden Toys from Colonel Bois, Toys are classic and traditional toys that are 0% plastic, require no batteries and run on 100% imagination! We carry a large selection of heirloom-quality natural toys made from eco-friendly and sustainably-harvested wood. .</p>
                    </div><!-- / about-widget -->
                </div><!-- / widget -->

                <div class="col-sm-6 col-md-4 widget">
                    <div class="widget-title">
                        <h4>Get in Touch</h4>
                    </div>
                    <div class="contact-widget">
                        <div class="info">
                            <p><a href="https://www.google.fr/maps?q=Numa,+39+rue+du+Caire+Paris+75002&rlz=1C5CHFA_enUS730US731&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiMjIeUhfjeAhUIExoKHU9oBFoQ_AUIDygC" target="_blank"><i class="lnr lnr-map-marker"></i><span>Numa, 39 rue du Caire
                            Paris 75002</span></a></p>
                        </div>
                        <div class="info">
                            <a href="tel:+0123456789"><i class="lnr lnr-phone-handset"></i><span>+33 06 24 18 55 72</span></a>
                        </div>
                        <div class="info">
                            <a href="#"><i class="lnr lnr-envelope"></i><span>colonelboisboit@gmail.com</span></a>
                        </div>
                        <div class="info">
                            <p class="social pull-left">
                                <a class="no-margin" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.pinterest.co.uk/pin/470696598536430717/" target="_blank"><i class="fa fa-pinterest"></i></a>
                                <a href="https://www.linkedin.com/notifications/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </p>
                        </div>
                    </div><!-- / contact-widget -->
                </div><!-- / widget -->
                <!-- / fourth widget -->

            </div><!-- / row -->
        </div><!-- / container -->
    </div><!-- / widget-area -->
    <div class="footer-info">
        <div class="container">
                <div class="pull-left">
                    <p>© 2018 - <strong>COLONEL MOUTARDE</strong> - WOOD TOYS.</p>
                </div>
                <span class="pull-right">
                    <%= image_tag('visa.png') %>
                    <%= image_tag('mastercard.png') %>
<!--                     <%= image_tag('discover.png') %>
                    <%= image_tag('paypal.png') %> -->
                </span>
        </div><!-- / container -->
    </div><!-- / footer-info -->
</footer>
<!-- / footer -->